{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "plugin:playwright/playwright-test",
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "semi": [
      2,
      "always"
    ],
    "quotes": [
      "error",
      "double",
      {
        "allowTemplateLiterals": true
      }
    ],
    "space-in-parens": [
      "error",
      "never"
    ],
    "space-infix-ops": [
      "error"
    ],
    "arrow-parens": [
      "error",
      "as-needed"
    ],
    "arrow-spacing": [
      "error"
    ],
    "array-bracket-spacing": [
      "error",
      "always",
      {
        "arraysInArrays": false,
        "objectsInArrays": false,
        "singleValue": false
      }
    ],
    "object-curly-spacing": [
      "error",
      "always"
    ],
    "no-trailing-spaces": [
      "error"
    ],
    "no-multi-spaces": [
      "error"
    ],
    "no-multiple-empty-lines": [
      "error"
    ],
    "no-duplicate-imports": [
      "error"
    ],
    "block-spacing": [
      "error",
      "always"
    ]
  }
}
